@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 227 43% 94%;
    --foreground: 240 10% 3.9%;
    --card: 227 43% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 227 43% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 231 48% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 227 43% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 227 43% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 88 50% 54%;
    --accent-foreground: 88 50% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 43% 88%;
    --input: 227 43% 88%;
    --ring: 231 48% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 230 20% 7%;
    --foreground: 227 43% 94%;
    --card: 230 20% 11%;
    --card-foreground: 227 43% 94%;
    --popover: 230 20% 11%;
    --popover-foreground: 227 43% 94%;
    --primary: 231 48% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 230 20% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 230 20% 15%;
    --muted-foreground: 227 43% 70%;
    --accent: 88 50% 54%;
    --accent-foreground: 88 50% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 20% 15%;
    --input: 230 20% 15%;
    --ring: 231 48% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Set default cursor */
  html {
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  /* Set cursor for text input elements */
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='search'],
  input[type='url'],
  input[type='tel'],
  input[type='number'],
  textarea {
    cursor: text;
    -webkit-user-select: auto; /* Safari */
    -ms-user-select: auto; /* IE 10 and IE 11 */
    user-select: auto; /* Standard syntax */
  }

  /* Set cursor for clickable elements */
  button,
  a,
  [role='button'] {
    cursor: pointer;
  }

  p, h1, h2, h3, h4, h5, h6, span, div {
    -webkit-user-select: text; /* Safari */
    -ms-user-select: text; /* IE 10 and IE 11 */
    user-select: text; /* Standard syntax */
    cursor: text;
  }
}
